.contain{
     /* height: 700px; */
  width: 350px;
  left: 122px;
  top: 99px;
  border-radius: 0px;
  position: absolute;
  background: rgba(236, 236, 236, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.flex1{
    height: 84vh;
    background-color: #ECECEC;
    padding: 0 2rem; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;  
        /* margin-left: -80px;*/
}
.flex2{
    /* background-image: url("../public/images/backgroundimg.svg"); */
    background-image: url("../public/images/backgroundimg.svg");
      width: 896px;
    height: 85vh;
    margin-left: 350px;
    margin-top: -538px;
}
.AirtimeandData{
    border-bottom: 1px solid#9BC94A;
    padding: 1rem 0;
}
.dflex{
      display: flex;
  justify-content: space-between;
  margin: 20px;
}
    