@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.container{
    background: #F9F4ED;
    width:90vw;
    overflow-x: hidden;
}
.header{
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    background: #9BC94A;
    padding: 1rem 3rem;
}
.image{
    height: 100px;
}
.tables{
   width:93%;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section1{
    padding:10px;
    margin:2rem 0 2rem 3rem;
    background:#fff;
}
.section2{
    padding: 10px;
    margin:2rem 2rem 2rem 0;
}
.FrequentPayments{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.texth6{
    font-size: 14px;
    font-weight: 700;
}
.img{
    background-color: #E7E7E7;
}
.texts{
    margin-left: 3rem;
}
.textsh6{
    font-size: 24px;
    font-weight: 800;
}
@media (width: 768px) and (max-width: 992px) {
    .container{
        background: #F9F4ED;
        width:100%;
        margin-left: 5rem;
        overflow-x: hidden;
    }
    .header{
        font-family: Poppins;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: max-content;
        background: #9BC94A;
        margin-top: 4rem;
        padding: 1rem 3rem;
    }
    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section1{
        padding:3px;
        margin:2rem 0 2rem 3rem;
        background:#fff;
    }
    .section2{
        padding: 10px;
        margin:auto;
    }
    .tables{
        width:100%;
     }
   .texthead{
    width:70%;
   }
}
@media (min-width: 1024px){
    
}
