@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.container{
    background: #F9F4ED;
    width:92vw;
    height: 92vh;
    overflow-x: hidden;
}
.header{
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    background: #9BC94A;
    padding: 1rem 3rem;
    margin-top: 20px;
    margin-left: 30px;
    width: 1130px;
    border-radius: 20px;
}
.headerparagraph{
        width: 439px;
}
.diffferent_card {
  display: flex;
  justify-content: space-between;
  /* width: 300px;
  margin-left: 175px; */
}
.cards {
  display: flex;
  justify-content: flex-start;
  width: 1000px;
  height: 300px;
  margin-left: -80px;
  margin-top: 30px;
}
.card_balance {
  height: 350px;
  /* width: 614px; */
}
.icon_dashboard {
  width: 20px;
  height: 15px;
  margin-top: 3px;
  margin-left: 10px;
}
.card_head {
  align-items: center;
  display: block;
  justify-content: space-between;
  width: 260px;
  height: 148px;
  background: rgba(249, 249, 249, 1);
  border-radius: 30px;
}
.header_tittle {
  margin-left: 80px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
.frequent_payment {
  display: flex;
  margin-left: 20px;
  margin-top: -10px;
}
.dashboard_paragraph {
  margin-top: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 5px;
}
.transfer {
  /* display: flex; */
  background: rgba(231, 231, 231, 1);
  display: grid;
  justify-content: center;
  height: 83px;
  width: 120px;
  margin-top: 12.5px;
  margin-left: 20px;
  align-items: center;
}
.payment_method {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 80px;
}
.recurring_transaction {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 80px;
}
.airtime {
  background: rgba(231, 231, 231, 1);
  display: grid;
  justify-content: center;
  justify-content: center;
  height: 40px;
  width: 85px;
  margin-top: 10px;
  align-items: center;
}
.frequent_history {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.transaction_history {
  display: flex;
  justify-content: center;
  width: 240px;
  margin-left: 10px;
  background: rgba(249, 249, 249, 1);
  border-radius: 30px;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
}
.payment_method {
  display: flex;
  justify-content: space-between;
  /* width: 150px;
  height: 100px; */
  padding: 20px;
  background: rgba(249, 249, 249, 1);
  border-radius: 30px;
  gap: 20px;
}

.icon2 {
  height: 40.40625px;
  width: 40.375px;
  border-radius: 0px;
}
.icon7 {
    height: 30.40625px;
    width: 30.375px;
    border-radius: 0px;
    margin-top: -5px;
}

.icon-1 {
  width: 60px;
  margin-top: 10px;
}
.icon4 {
  margin-top: 1px;
}
.card_header {
  display: flex;
  justify-content: center;
}
.icon3 {
  margin-left: 10px;
}
.check_status {
  background: rgba(231, 231, 231, 1);
  width: 170px;
  height: 68px;
      display: flex;
    flex-direction: column;
  align-items: center;
  padding: 12px;
}
.dashboard_para {
  width: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  margin-left: 10px;
  margin-top: 0px;
}
.card_head2 {
  align-items: center;
  display: block;
  justify-content: space-between;
  width: 260px;
  height: 148px;
  background: rgba(249, 249, 249, 1);
  border-radius: 30px;
  margin-left: 20px;
}
.image{
    height: 130px;
    margin-top: -30px;
}
.tables{
   width:91%;
   border-top-right-radius: 16px;
    border-top-left-radius: 16px;
   /* margin-left: 50px; */
}
.tablesection{
        margin-left: 20px;
}
.section{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.section1{
   margin-left: 20px;
    margin-top: 20px;
    border-radius: 30px;
}
.section2{
    padding: 10px;
    margin:2rem 2rem 2rem 0;
}
.paymentsection{
    width: 280px;
    border-radius: 10px;
    height: 120px;
    height: 151.38999938964844px;
    width: 273.9549865722656px;
    border-radius: 30px;
}
.airtimeimg{
    width: 20px;
    height: 30px;
}
.FrequentPayments{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.airtimebill{
    display: grid;
    gap: 10px;
}
.texth6{
    font-size: 14px;
    font-weight: 700;
}
.img{
    background-color: #E7E7E7;
}
.texts{
    margin-left: 4.2rem;
    margin-bottom: -15px;
    font-family: sans-serif;
}
.textsh6{
    font-size: 16px;
    font-weight: 800;font-weight: bold;
    margin-bottom: -8px;
    margin-top: 10px;
}
.textparagraph{
    font-size: 12px;
}
.pagination_flex{
  display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 40px;
}
.pagination{
  display: flex;
    justify-content: space-between;
    width: 300px;
    height: 40px;
    background: #EEEEEE;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 20px;
    text-align: center;
}

.pagination_number:hover{
  background: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
 text-align: center;
}
@media (width: 768px) and (max-width: 992px) {
    .container{
        background: #F9F4ED;
        width:100%;
        margin-left: 5rem;
        overflow-x: hidden;
    }
    .header{
        font-family: Poppins;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: max-content;
        background: #9BC94A;
        margin-top: 4rem;
        padding: 1rem 3rem;
    }
    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section1{
        padding:3px;
        margin:2rem 0 2rem 3rem;
        background:#fff;
    }
    .section2{
        padding: 10px;
        margin:auto;
    }
    .tables{
        width:100%;
     }
   .texthead{
    width:70%;
   }
}
@media (min-width: 1024px){
    
}
