@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.container{
    background: #F9F4ED;
    width:90vw;
    overflow-x: hidden;
}
.header{
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    background: #9BC94A;
    padding: 1rem 3rem;
}
.image{
    height: 100px;
}
.tables{
   width:100vw;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section1{
    padding:10px;
    margin:2rem 0 2rem 3rem;
    background:#fff;
}
.section2{
    padding: 10px;
    margin:2rem 2rem 2rem 0;
}
.FrequentPayments{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.texth6{
    font-size: 14px;
    font-weight: 700;
}
.img{
    background-color: #E7E7E7;
}