.bg {
    background: #fff;
    border: 1px solid #dcdcdc;
    width: 100%;
    padding-top: 0 !important;
  }
  .dashboardWidth {
    width: 10vw; 
  }
  .dashboardhorizontalWidth{
    margin: 0 1rem;
    background: #fff;
    border: 1px solid #dcdcdc;
    width: 100vw;
    padding-top: 0 !important;
  }
  .name {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #049d55;
    margin-top: 30px;
    font-family: Poppins;
  }
  .link {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 10px;
    color: #9BC94A;
  }
  .icon {
    margin-right: 20px;
  }
  .nav {
    height: 100vh;
    width: 100%;
  }
  .avatar{
    border-radius: 50%;
    width:15%;
    margin-right: 2rem;
    height: 40%;
  }
  .AvatarSection{
    position: relative;
    width:25%;
    margin-top: 1rem;
  }
  .arrowUp{
    position: absolute;
    top:10px;
    right:70px;
    width:5%;
    height: 20%;
    margin-left: 1rem;
  }
  .texth5{
    font-size: 16px;
    color:#25282B;
  }
  .texthp{
    font-size: 12px;
    color:#A0A4A8;
  }
  .flex{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 600px) {
    .bg {
      border: none;
    }
  }
  