.formBody {
  background: rgba(236, 236, 236, 0.8);
  text-align: center;
  width: 30%;
  margin-top: 10%;
  margin-left: 35%;
  padding: 0 3%;
}
.currency {
  width: 10%;
  text-align: center;
  border-radius: 7px;
  border: none;
}
.inputFields {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 7px;
  border: none;
  padding-left: 3%;

  /* margin-bottom: 10px; */
}
.payButton {
  background-color: #9bc94a;
  border: none;
  border-radius: 6px;
  width: 100%;
}
.amount {
  width: 90%;
  margin-bottom: 5%;
  border-radius: 7px;
  border: none;
}
